#home1{
	background-image: url(./img/home.jpg);
}

#home2{
	background-image: url(./img/body.jpg);
}

#banner{
	background-image: url(./img/backgroundBody.jpg);
	background-size: cover;
background-position: center;
}
#imghome{
	width: 250px;
	height: 250px;
}
#banner2{
background-image: url(./img/background.jpg);
background-size: cover;
background-position: center;
}

.hr{
	background-color: white;
}

.fab{
	font-size: 2rem;
	color: white;
}

.gallerybody{
	background-color: #9B91F2;
}